*{
    margin: 0;
    padding: 0;
}

.border-me {
    /* border-top: 15px solid green;
    border-right: 15px solid green;
    border-bottom: 15px solid green;
    border-left: 15px solid green; */
    /* border: greenyellow; */
    border-width: 2px 1px 0px 21px;
    /* border-style: solid; */
    border-style: double;
    border-color: greenyellow;
}

.pad-me {
    padding: 5px 10px 15px 20px;
    /* padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 4px; */
}

.margin-me {
    margin: 5px 10px 15px 20px;
}